<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Login</title>
</head>
<!-- Latest compiled and minified CSS -->
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="/static/login.css" rel="stylesheet"/>
<body>
<form th:action="@{/admin/login}" method="POST">
  <div class="Container">
    <div class="Sign-In">Sign In</div>

    Login
    <input name="username" class="Normal"/>

    Password
    <input name="password" type="password" class="Normal"/>

    <i class="pull-left text-danger" th:text="${message}"></i>
    <button class="login">Login</button>
    <button class="fb">Continue with facebook</button>

    <a href="" class="Forgot-your-password"> Forgot your password? </a>
  </div>
</form>
</body>
</html>
